<div class="main">
  <div class="row">
    <div class="col">
      <nav class="navbar">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Projeto Angular TC2</span>
        </div>
      </nav>
    </div>
  </div>

  <div class="row grid-main ">
    <div class="col-3 bg-light lateral-menu" style="height: fit-content">
      <div class="mt-3 rounded-top lateral-menu-title">
        <h4 class="text-center p-2">Menu</h4>
      </div>
      <button class="text-center btn btn-success w-100 font-weight-bold"
        (click)="handleClickRegister()">Cadastrar</button>
      <div class="mb-3" >
        <div *ngFor="let elem of registriesArray">
          <button class="mt-2 btn btn-info w-100" (click)="viewLogs(elem)">{{elem.nome}}</button>
        </div>
      </div>
    </div>

    <div class="col-9" *ngIf="component === 'register'; else form">
      <div>
        <form>
          <div class="form-group">
            <label class="font-weight-bold">Nome</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Nome" [(ngModel)]="inputName" name="name">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Idade</label>
            <input type="number" class="form-control" placeholder="Idade" [(ngModel)]="inputAge" name="age">
          </div>
          <div>
            <label class="font-weight-bold">Link da imagem (Url)</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Link" [(ngModel)]="inputImg" name="img">
          </div>
          <button type="submit" class="btn btn-primary mt-3" (click)="setInput()">Enviar</button>
        </form>
      </div>
    </div>

    <ng-template #form>
      <div class="col-9">
        <div class="card" style="width: fit-content">
          <h5 class="card-header">Detalhe do resgistro</h5>
          <div class="card-body">
            <h5 class="card-title text-center">Nome: {{viewLog.nome}}</h5>
            <h6 class="card-title text-center">Idade: {{viewLog.idade}}</h6>
            <img src="{{viewLog.img}}" alt="">
          </div>
        </div>
      </div>
    </ng-template>

    <div>

    </div>

  </div>

</div>
