.container {
  padding: 0;
}

.main {
  height: 100vh;
  background-image: url('../assets/img/img-pc.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.lateral-menu {
  border-radius: 10px;
}

.lateral-menu-title {
  background-color: rgb(255, 211, 13);
}

.grid-main {
  padding: 20px 10px 10px 30px;
}

.navbar {
  background-color: rgb(32, 181, 201);
  height: 60px;
}
